@use '../base/variables' as v;

.acerca {
    background-color: v.$grisBG;
    &__container {
        padding-left: 20rem;
        padding-right: 20rem;
        @media only screen and (max-width: v.$bp-extraLarge) {
            padding-left: 10rem;
            padding-right: 10rem;
        }
        &--titulo {
            font-size: 4.8rem;
            background: linear-gradient(90deg, v.$primary 40%, v.$secondary 60%);
            color: transparent;
            background-clip: text;
            text-transform: capitalize;
            @media only screen and (max-width: v.$bp-small) {
                font-size: 3rem;
            }
        }
        &--subtitulo {
            font-size: 2rem;
            font-weight: 100;
        }
        &--descri {
            font-size: 1.6rem;
            color: v.$gris;
            line-height: 2.6rem;
        }
        &__box {
            display: flex;
            justify-content: center;
            gap: 2rem;
            font-size: 3rem;
            background: linear-gradient(170deg, v.$primary 40%, v.$secondary 60%);
            color: transparent;
            background-clip: text;
        }
    }
}