@use '../base/variables' as v;

.header {
    &__container {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 3rem;
        &__data {
            padding-top: 10rem;
            padding-bottom: 15rem;
            &--top {
                background: linear-gradient(90deg, v.$primary 10%, v.$secondary 100%);
                font-size: 1.2rem;
                color: v.$blanco;
                display: inline-block;
                text-transform: uppercase;
                padding: .1rem .7rem;
                border-radius: .5rem;
            }
            &--descri {
                font-size: 2.8rem;
                color: v.$gris;
                font-weight: 100;
            }
            &--title {
                font-size: 6.4rem;
                background: linear-gradient(180deg, v.$primary 0%, v.$secondary 90%);
                color: transparent;
                background-clip: text;
            }
            &__botones {
                display: flex;
                // gap: 2rem;
            }
        }
        &__avatar {
            // border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            &__imgBox {
                position: relative;
                // background-color: peru;
                background: linear-gradient(160deg, v.$primary 0%, v.$secondary 100%);
                width: 75%;
                height: 90%;
                border-radius: 10rem;
                img, .dots {
                    position: absolute;
                }
                img {
                    width: 85%;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .dots {
                    width: 3rem;
                    // left: -2rem;
                }
                .dot-1 {
                    fill: v.$primary;
                    bottom: 6rem;
                    left: -4rem;
                }
                .dot-2 {
                    fill: v.$blanco;
                    bottom: 10.1rem;
                    left: 1.2rem;
                }
                .dot-3 {
                    fill: v.$blanco;
                    right: 1.2rem;
                    top: 8rem;
                }
                .dot-4 {
                    fill: v.$primary;
                    top: 12.1rem;
                    right: -4rem;
                }
            }
        }
    }
}