@use '../base/variables' as v;

.nav {
    &__container {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--logo {
            font-size: 2rem;
            color: v.$primary;
            font-weight: 700;
        }
        &__menu {
            display: flex;
            @media only screen and (max-width: v.$bp-large) {
                position: fixed;
                background-color: rgba(v.$negro, .95);
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1;
                height: 100vh;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &--link {
                color: v.$gris;
                font-size: 1.4rem;
                font-weight: 700;
                padding-left: 1rem;
                padding-right: 1rem;
                text-transform: capitalize;
                @media only screen and (max-width: v.$bp-large) {
                    color: v.$blanco;
                }
                &:hover {
                    color: darken(v.$gris, 20%);
                }
            }
        }
        &__iconBox {
            font-size: 2.2rem;
            color: v.$gris;
            border: 1px solid rgba(v.$gris, .4);
            padding: .5rem 1.6rem;
            border-radius: .5rem;
            cursor: pointer;
            display: none;
            @media only screen and (max-width: v.$bp-large) {
                display: block;
            }
        }
    }
}