.nav {
    &__container {
        display: flex;
        justify-content: space-between;
        &--logo {
            font-size: 2rem;
            color: var(--primary);
            font-weight: 700;
        }
        &__menu {
            &--link {
                color: var(--gris);
                font-size: 1.4rem;
                font-weight: 700;
            }
        }
    }
}