@use '../base/variables' as *;
@use '../base/mixins' as *;

.no-webp .inicio {
    background-image: url('../img/header.jpg');
}
.webp .inicio {
    background-image: url('../img/header.webp');
}

.header {
    background-color: $grisOscuro;
    padding-top: 1rem;
    padding-bottom: 3rem;
    background-position: center;
    background-size: cover;
    &.inicio {
        @include tablet {
            min-height: 70rem;
        }
        .contenido-header {
            @include tablet {
                min-height: 70rem;
            }
        }
    }
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: left;
        color: $blanco;
        font-weight: bold;
        line-height: 2;
        max-width: 60rem;
    }
}